body {
    background-color: rgb(254, 254, 255);
    color: rgba(77, 74, 74, 0.973);
    text-align: center;
    /* text-align: center; */
}

label {
    display: block;
}

img {
    display: block;
    padding-left: 30%;
    padding-top: 20px;
}


div {
    text-align: center;
    color: black;
    background-color: rgb(233, 226, 222);
    width: 1340px;
    height: 500px;
    align-content: center;
}

button {
    display: block;
}

h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #C55300;
    text-align: center;
    font-weight: bold;
}
p{
    text-align: center;
  
}
  
#one {
    padding: 3% 15% 7%;
  
}
  
.bar-col {
    padding: 3% 2%;
}
  
#image{
    padding-right: 100%
}
#solution{
    padding: 3% 15% 7%;
}