body {
    background-image: url("coin.jpeg");
    background-size: cover;
  
  }
  .div-one{
    text-align: left;
  }
  
  .div-two{
    background-color: white;
    background-size: cover;
    padding-top: 2rem;
    padding-left: 1rem;
    color: rgb(255, 64, 0);
    text-align: center;
    font-weight: bold;
  }
  
  h1{
    padding-top: 2rem;
    padding-left: 1rem;
    color: rgb(255, 64, 0);
    text-align: left;
    font-weight: bold;
  }
  h3{
    padding-top: 2rem;
    padding-left: 1rem;
    color: rgb(255, 64, 0);
    text-align: left;
    font-weight: bold;

  }
  
  p ,h4{
    font-weight: normal;
    text-align: left;
    padding-left: 1rem;
    color: #000000;
  }
  .small-heading{
    text-align: center;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  .nav-link {
    color: rgb(255, 64, 0);
    padding-top: 2%;
  }
  
  
  #one {
    padding: 3% 15% 7%;
  
  }
  
  .bar-col {
    padding: 3% 2%;
  }
  
  #image{
    padding-right: 10%
  }
  #solution{
    padding: 3% 15% 7%;
  }
  .second-content{
    text-align: right;
  }
  #homepage .container-fluid{
    text-align: left;
    padding: 0.3% 15% 7%;
  
  }
  
  .content{
    text-align: left;
    line-height: 1.5;
  }
  
  #homepage.content-image {
    position: absolute;
    float: right;
  
  }
  .image-logo{
    padding-right: 70%;
  }
  .second-content{
    text-align: right;
  }
  .fa-coins{
    color: rgb(255, 64, 0);
  }
  .content-one{
    text-align: left;
    line-height: 1;
    width: 40%
  }
  button{
    background-color: rgb(240, 135, 15);  
    border: none; 
    color: white; 
    padding: 12px 70px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 2px 6px; 
    cursor: pointer; 
    font-size:20px;

  }
  
  button:hover{
    background-color: green;
  }
  